// Variables generales de Bee framework

//--------------------------------------------
//--------------------------------------------
// Colores de bee framework generales
//--------------------------------------------
//--------------------------------------------

$institucional-oscuro: #8A1C1C
$institucional-primario: #CB2027
$institucional-acento: #CB2027
$blanco: #FBFBFB
$gris-claro: #E5E5E5
$texto-principal: #161A1D
$texto-titulos: #161A1D

$bee    : $institucional-acento
$primary: $institucional-primario
$success: #CB2027
$danger : #8A1C1C
$warning: #CB2027
$discord: #161A1D
