// Variables generales de Bee framework

//--------------------------------------------
//--------------------------------------------
// Colores de bee framework generales
//--------------------------------------------
//--------------------------------------------

$institucional-oscuro: #680000
$institucional-primario: #B71C1C
$institucional-acento: #D4AF37
$blanco: #FFFFFF
$gris-claro: #F5F5F5
$texto-principal: #333333
$texto-titulos: #1A1A1A

$bee    : $institucional-acento
$primary: $institucional-primario
$success: #20bf6b
$danger : #e84118
$warning: #ffa801
$discord: #7289DA
